html {
  font-size: 62%;
}
body {
  background: #5f9c97;
  font-size: 1.8rem;
}
.opening {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #dfd563;
  align-items: center;
}
h1 {
  display: block;
  float: left;
  border-color: #323232;
  font-size: 2.5vw;
  text-align: center;
  color: #323232;
  font-family: Montserrat, sans-serif;
  font-weight: light;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
h5 {
  font-size: 2.5rem;
}
.navbar {
  background-color: #5f9c97;
}
.navbar-brand {
  font-family: "EFN Malowany", sans-serif;
  font-size: 2em;
  color: #dfd563;
}
.navbar-toggler{
    width: 6rem;
    height: 5.3rem;
    background-color: #dfd563;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 0.3rem;
    background-color: #5f9c97;
    margin-bottom: 0.7rem;
}
.docs {
  font-size: 1.8rem;
}
.header {
  clear: both;
}
.main-image {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}
.nav-link {
  color: #dfd563;
}
.nav-item .active {
  background-color: #80c349 !important;
}
.news-header {
  margin-right: -30px;
  margin-left: -30px;
}
.news-preview {
  background-color: #dfd563;
}
.article {
  background-color: white;
  border-radius: 2%;
}
.article-header img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.article-preview {
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.article-page {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-size: 2rem;
}
.card {
  display: flex;
  height: 100%;
}
.card-body {
  height: 100%;
}
.card img {
  height: 20em;
  object-fit: cover;
  max-width: 100%;
}
.card p {
  height: 10em;
  overflow: hidden;
}
.card a {
  display: inline-block;
  align-self: flex-end;
}
.image-cropper {
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1em solid #dfd563;
}
.profile-pic {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  height: 31vw;
  width: auto;
}
.greeting {
  background-color: white;
  border-radius: 2%;
}
.signature {
  text-align: right;
  font-style: italic;
}
footer {
  height: 10vh;
  text-align: center;
  font-size: 1.6rem;
}
footer a {
  color: #dfd563;
}
footer .logo {
  display: block;
  width: 70%;
  height: auto;
}
.footer-copyright {
  background-color: #3f7c77;
}
@font-face {
 font-family: "EFN Malowany";
 src: url("../fonts/EFN Malowany.ttf");
}

@media (max-width: 1200px) {
  body {
    font-size: 170%;
  }
}
@media (orientation: portrait) {
  body {
    font-size: 350%;
  }
  footer {
    font-size: 2rem;
    height: 100%;
  }
  h1 {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 3.5rem;
  }
  .article-preview {
    height: 20vh;
  }
  .btn {
    font-size: 3rem;
  }
}
