html {
  font-size: 62%;
}
body {
  background: #5f9c97;
  font-size: 1.8rem;
}
.opening {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #dfd563;
  align-items: center;
}
h1 {
  display: block;
  float: left;
  border-color: #323232;
  font-size: 2.5vw;
  text-align: center;
  color: #323232;
  font-family: Montserrat, sans-serif;
  font-weight: light;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
h5 {
  font-family: Montserrat, sans-serif;
  height: 3.8em;
  overflow: hidden;
  font-size: 2.5rem;
}
.navbar {
  background-color: #5f9c97;
}
.navbar-brand {
  font-family: "EFN Malowany", sans-serif;
  font-size: 2em;
  color: #dfd563;
}
.navbar-brand:hover {
  color: #ffffff;
}
.navbar-toggler{
    width: 6rem;
    height: 5.3rem;
    background-color: #dfd563;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 0.3rem;
    background-color: #5f9c97;
    margin-bottom: 0.7rem;
}
.docs {
  font-size: 1.8rem;
}
.header {
  clear: both;
}
.main-image {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}
.nav-item {
  border: 1px solid rgb(223, 213, 99, .3);
  border-radius: 10%;
}
.nav-link {
  color: #dfd563;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-item .active {
  border: 0;
  background-color: #80c349 !important;
}
#saradak {
  background-color: #d25435;
  border: 1px solid rgb(223, 213, 99, .3);
  border-radius: 10%;
}
#saradak a {
  color: #ffffff;
}
#saradak active {
  border: 1px solid #ffffff;
}
.page-header {
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 4rem;
  font-weight: 300;
}
.news-preview {
  background-color: #dfd563;
}
.article {
  background-color: white;
  border-radius: 2%;
}
.article-header img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.article-preview {
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.article-page {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-size: 2rem;
}
.card {
  display: flex;
  height: 100%;
}
.card-title {
  height: 6rem;
}
.card-body {
  height: 100%;
}
.card img {
  height: 10em;
  object-fit: cover;
  max-width: 100%;
}
.card p {
  height: 3em;
  overflow: hidden;
}
.card a {
  display: inline-block;
  align-self: flex-end;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}
iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.image-cropper {
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1em solid #dfd563;
}
.profile-pic {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2vw;
  height: 21vw;
  width: auto;
}
.greeting {
  background-color: white;
  border-radius: 2%;
  font-size: 1.5rem;
}
.greeting h3 {
  font-size: 2rem;
}
.signature {
  text-align: right;
  font-style: italic;
}
footer {
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
}
footer h5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  height: auto;
}
footer a {
  color: #dfd563;
}
footer .logo {
  display: block;
  width: 70%;
  height: auto;
}
.footer-copyright {
  background-color: #3f7c77;
}
@font-face {
 font-family: "EFN Malowany";
 src: url("../fonts/EFN Malowany.ttf");
}

@media (max-width: 1200px) {
  body {
    font-size: 170%;
  }
}
@media (orientation: portrait) {
  body {
    font-size: 350%;
  }
  h1 {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 3.5rem;
  }
  .page-header {
    font-size: 6rem;
  }
  .article-preview {
    height: 20vh;
  }
  .card-title {
    height: 8rem;
  }
  .btn {
    font-size: 3rem;
  }
  footer {
      font-size: 3rem;
    }
  .image-cropper {
      width: 45vw;
      height: 45vw;
    }
  .profile-pic {
    margin-top: -3vw;
    height: 60vw;
    width: auto;
  }
  .greeting {
    font-size: 3rem;
  }
  .greeting h3 {
    font-size: 4rem;
  }
}
@media (max-width: 1000px) {
  body {
    font-size: 350%;
  }
  h1 {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 3.5rem;
  }
  .page-header {
    font-size: 6rem;
  }
  .article-preview {
    height: 20vh;
  }
  .card-title {
    height: 8rem;
  }
  .btn {
    font-size: 3rem;
  }
  footer {
    font-size: 3rem;
  }
  .image-cropper {
      width: 45vw;
      height: 45vw;
    }
  .profile-pic {
    margin-top: -3vw;
    height: 60vw;
    width: auto;
  }
  .greeting {
    font-size: 3rem;
  }
  .greeting h3 {
    font-size: 4rem;
  }
}
